$and-red: #ff323c;
$and-purple: #9f50ff;
$and-blue: #2797fe;
$and-grey: #323232;

$brand-primary-color: #ff323c;
$brand-accent-color: #ffffff;

$color-background: #ffffff;
$color-foreground: $and-grey;
$color-accent: $and-red;
